.NavLogo {
  width: 4rem;
  height: 4rem;
}

.me-auto {
  display: flex;
  justify-content: flex-end;
  margin-left: 55rem;
}

.profile{
  padding-left: 10rem;
}

.LotcationUs {
  padding-left: 20rem;
}

.Footer-content {
  background-color: black;
  padding: 4rem 0 2rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.footer {
  width: 100%;
  height: 40vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 3rem;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}

.footer-heading a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.address {
  display: flex;
  flex-direction: column;
  margin-left: 16rem;
}

.address span {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.social-media {
display: flex;
padding-left: 9rem;
gap: 3rem;
}



